<section id="hero-section" class="container text-center mt-5">
    <div class="neon-border hero-container d-flex flex-column justify-content-between p-5">
        <p class="hero-text text-light fs-2 fw-bold">
            Relive the golden era of gaming with the best 90s game reviews!<br>
            The best review site on the internet.<br>
            <strong>DO NOT MISS OUT!!!</strong>
        </p>

        <div class="mt-auto">
            <a href="{% url 'register' %}" class="btn btn-outline-info btn-lg">
                Register Here 🚀
            </a>
        </div>
    </div>
</section>

