asgiref==3.11.0
autopep8==2.3.2
certifi==2025.11.12
charset-normalizer==3.4.4
coverage==7.13.0
dj-database-url==3.0.1
Django==6.0
django-allauth==65.13.1
django-axes==8.0.0
django-extensions==4.1
django-widget-tweaks==1.5.0
flake8==7.3.0
gunicorn==23.0.0
idna==3.11
mccabe==0.7.0
packaging==25.0
psycopg2-binary==2.9.11
pycodestyle==2.14.0
pyflakes==3.4.0
python-decouple==3.8
requests==2.32.5
setuptools==80.9.0
six==1.17.0
sqlparse==0.5.4
urllib3==2.6.0
wheel==0.45.1
whitenoise==6.11.0
