{% extends "reviews/base.html" %}
{% load i18n %}

{% block title %}Two-Factor Login{% endblock %}

{% block content %}
<div class="login-container">
    <h2 class="neon-text">🔐 Two-Factor Authentication</h2>

    <form method="post">
        {% csrf_token %}
        <div class="form-group mt-3">
            <label for="otp_token" class="form-label">Enter Token</label>
            {{ form.token|add_class:"form-control neon-input" }}
        </div>
        <button class="btn btn-neon mt-3 w-100" type="submit">Verify</button>
    </form>
</div>
{% endblock %}
